body{
    background:url(uno.jpg);
    background-size: 100%;
}
.pedido{
    height: 50vh;
    margin: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.boton {
    border: 1px solid #d40808; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #fa2032; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }